[flake8]
exclude =
  migrations
  __pycache__,
  manage.py,
  settings.py
  tests/*
  env
  venv
  .pytest_cache

ignore =
    # I prefer 100 chars lines
    E501,
    W503,
    E122
max-line-length = 100
